{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="content">
    {% if cocktails and search_string %}
    {% for cocktail in cocktails %}
    <div class="cocktail__group">
        <div class="cocktail__group__title">
            <a href="/cocktail/{{ cocktail.1 }}/">
                <h2>{{ cocktail.0 }}</h2>
            </a>
        </div>
        <div class="cocktail__group__text">
            <a href="/cocktail/{{ cocktail.1 }}/"><img src="{{ cocktail.3 }}"
                    alt="{{ cocktail.0 }}"></a>
            <p>{{ cocktail.2 }}</p>
        </div>
    </div>
    <div class="cocktail__group__text">Автор: {{ cocktail.4 }}</div>
    {% endfor %}
    {% if next or previous %}
    <p style="text-align: center; padding: 10px;">
        {% if previous %}
        <a href="/search/?p={{ previous }}&q={{ search_string }}" >Предыдущая страница</a>
        {% endif %}
        {% if next and previous %}
        <span style="margin: 20px;">&nbsp;</span>
        {% endif %}
        {% if next %}
        <a href="/search/?p={{ next }}&q={{ search_string }}">Следующая страница</a>
        {% endif %}
    </p>
    {% endif %}
    {% elif search_string %}
    <div class="cocktail__group">
        <div class="cocktail__group__title">
            <a href="/cocktails/">
                <h2>Коктейли не найдены</h2>
            </a>
        </div>
        <div class="cocktail__group__text">
            <p>Извините, но таких коктейлей в нашей базе данных нет.</p>
        </div>
    </div>
    {% else %}
    <div class="cocktail__group">
        <div class="cocktail__group__title">
            <a href="/cocktails/">
                <h2>Коктейли не найдены</h2>
            </a>
        </div>
        <div class="cocktail__group__text">
            <p>Задан пустой поисковый запрос.</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
